<form onsubmit="onSubmit()">
    <div>
        <label for="species">Species:</label>
        <p-dropdown #sp [options]="species" optionLabel="name" [placeholder]="'Select a Specie'"
            [(ngModel)]="selectedSpecie" (onChange)="selectedSpecie = sp.value" [filter]="true" filterBy="name"
            [showClear]="true" [required]="true">
        </p-dropdown>
    </div>
    <pre>
        {{selectedSpecie | json}}
    </pre>
    <div>
        <label for="class">Class:</label>
        <p-dropdown #cl [options]="classes" optionLabel="name" [placeholder]="'Select a Class'"
            [(ngModel)]="selectedSpecie" (onChange)="selectedClass = cl.value" [filter]="true" filterBy="name"
            [showClear]="true" [required]="true">
        </p-dropdown>
    </div>
    <pre>
        {{selectedClass | json}}
    </pre>
</form>